{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
  <p>Welcome to your dashboard.</p>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
  <h1>Editar Usuario</h1>
  <form method="post">
      {% csrf_token %}
      <label for="id_name">Nombre del platillo:</label><br>
      {{ form.name }}<br><br>

      <label for="id_description">Descripción:</label><br>
      {{ form.description }}<br><br>

      <label for="id_price">Precio:</label><br>
      {{ form.price }}<br><br>

      <label for="id_category">Categoría</label><br>
      {{ form.category }}<br><br>

      <button type="submit">Guardar cambios</button>
  </form>
{% endblock %}
</html>